html {
  height: 100dvh;
  background: linear-gradient(to right, rgb(46, 0, 0), rgb(101, 0, 0));
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;
  background: none;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
}

.go-back {
  display: block;
  text-decoration: none;
  color: red;
  font-size: 2em;
  text-align: center;
}

.error-message {
  color: red;
  border: 1px solid red;
  padding: 10px;
  background-color: #f8d7da;
  font-size: 1em;
  margin-top: 10px;
  border-radius: 4px;
}